{% extends "base.html" %}
{% load crispy_forms_tags static i18n compress %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/new_expense.scss' %}" />
{% endcompress %}
{% compress js %}
<script defer src="{% static 'js/new_expense.js' %}"></script>
{% endcompress %}

<div class="center w-100% h-100vh">
  <form
  class="form-horizontal flex-space-around mt-5 mb-5 bordered bg-white h-40vh w-60%"
  method="post"
  action="{% url 'expenses:update' object.pk %}">
    <div class="form-header bg-red mb-4">
      <h1>{{ title }}</h1>
    </div>
    {% csrf_token %}
    <div class="form-body">
      <div class="mb-3 center h-100%">
        <div class="row">
          <div class="input-group">
            <span class="input-group-text"><i class="fa-regular fa-align-left"></i></span>
              {{ form.concept | as_crispy_field }}
            <span class="input-group-text">$</span>
              {{ form.amount | as_crispy_field }}
            <span class="input-group-text"><i class="fa-regular fa-calendar"></i></span>
            <div class="mb-3">
              <input
                type="date"
                name="created_at"
                class="form-control"
                value="{{ object.get_created_at }}"
                readonly>
            </div>
          </div>
        </div>
      </div>

      <div class="input-control mb-3 w-80% flex justify-end">
        <a class="btn btn-danger" href="{% url 'expenses:index'  %}">Cancel</a>
        <span class="w-20px"></span>
        <button type="submit" class="btn btn-primary">
            Update
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
