{% extends "base.html" %}
{% load crispy_forms_tags static i18n compress money %}
{% block title %}{{ title }}{% endblock %}


{% block content %}
<div class="table-container mt-5 mb-5">
    <div class="table-header bg-red">
        <div class="flex">total:&nbsp;<h5>{{ total_amount|money }}</h5></div>
        <h1>{{ title }}</h1>
        <a href="{% url 'expenses:create' %}" class="btn btn-primary">Add expense</a>
    </div>
    <table class="table">
        <thead>
            <tr class="bg-light table-striped">
            <th scope="col">id</th>
            <th scope="col">Concept</th>
            <th scope="col">Amount</th>
            <th scope="col">Created at</th>
            <th scope="col">Updated at</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for expense in object_list %}
            <tr>
            <th scope="row">{{ expense.id }}</th>
            <td>{{ expense.concept }}</td>
            <td>{{ expense.amount|money }}</td>
            <td>{{ expense.get_full_created_at }}</td>
            <td>{{ expense.get_full_updated_at }}</td>
            <td>
                <div class="table-actions">
                    <a class="btn btn-primary" href="{% url 'expenses:update' expense.id %}">Update</a>
                    <a class="btn btn-danger" href="{% url 'expenses:delete' expense.id %}">Delete</a>
                </div>
            </td>
            </tr>
            {% endfor %}
            <tr>
                <th scope="row">Total</td>
                <th></th>
                <th scope="row">{{ total_paginated|money }}</td>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>
    <div class="table-footer w-100%">
        <div class="table-paginator">
            <div>
                <p class="lead pt-3">
                    page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </p>
            </div>
            <div>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-light"><</a>
                {% else %}
                    <a class="btn btn-light"><</a>
                {% endif %}
                {% for i in paginator.page_range %}
                    <a href="?page={{ i }}" class="btn btn-light">{{ i }}</a>
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-light">></a>
                {% else %}
                    <a class="btn btn-light">></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
