{% extends "base.html" %}
{% load crispy_forms_tags static i18n compress %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/new_income.scss' %}" />
  {% endcompress %}
  {% compress js %}
  <script defer src="{% static 'js/new_income.js' %}"></script>
  {% endcompress %}
<div class="center w-100% h-100vh">
  <form 
  class="form-horizontal flex-space-around mt-5 mb-5 bordered background-fff {% if title == 'Update income' %} h-40vh {% else %} h-80 {% endif %}"
  method="post" action="{% url 'incomes:create' %}"
  >
    <div class="form-header mb-4">
      <h1>{{ title}}</h1>
    </div>
    {% csrf_token %}
    <div class="form-body">
      <div class="mb-3 w-80%">
        <div id="inputs">
          <div class="input-group">
            <span class="input-group-text"><i class="fa-regular fa-align-left"></i></span>
            <input type="text" name="concept1" class="form-control" placeholder="Concept" aria-label="concept" required>
            <span class="input-group-text">$</span>
            <input type="number" name="amount1" class="form-control" placeholder="0.00" aria-label="amount" min="100" step="0.25" pattern="^\d*(\.\d{0,2})?$" required>
            <span class="input-group-text"><i class="fa-regular fa-calendar"></i></span>
            <input type="date" name="created_at" class="form-control" value="{{ current_date }}" aria-label="created_at" readonly>
          </div>
        </div>
        {% if title == 'Create incomes' %}
        <div class="input-control mb-3 mt-4">
          <span id="add_other_income" class="ml-4 btn btn-light"><i class="fa-solid fa-plus"></i></</span>
        </div>
        {% endif %}
      </div>
  
      <div class="input-control mb-3 w-80% flex justify-end">
        <a class="btn btn-danger" href="{% url 'incomes:index' 1 %}">Cancel</a>
        <span class="w-20px"></span>
        <button type="submit" class="btn btn-primary">
          {% if title == 'Create incomes' %}
            Create
          {% else %}
            Update
          {% endif %}
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
